/* Add your styles here */
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(..\img\logo.jpg);

}
body {
  background-image: url("img/logo.jpg");
    /*background: gray;*/
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
.progress
{
    border-radius: 16px !important;
    margin-bottom: 10px;
}

.progress-bar
{
    border-radius: 16px;
    background: #000 !important;
}
